<p-table [value]="categories" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
        <tr>
            @for (col of cols;track col)
            {
                <th>
                    {{col.header}}
                </th>
            }   
           <!---- <th *ngFor= "let col of cols">
                {{ col.header }}
            </th>-->
        </tr>
    </ng-template>
    <ng-template #body let-category> 
        <tr>
            @for (col of cols;track col)
            {
                <td>
                    @if(col.field==='plannedInMonth'){
                       {{ category[col.field] | currency}}
                    } 
                    @else if(col.field==='createdDateTime'){
                       {{ category[col.field] | date}}
                    } 
                    @else if(col.field==='type')
                    {
                        @if (category[col.field]==='EXPENSE')
                        {
                          <p-tag value="Dépense" severity="danger"></p-tag>
                        }
                        @else
                        {
                           <p-tag value="Revenu" severity="succes"></p-tag>
                        }
                    } 
                    @else {
                       {{ category[col.field] || '-'}}
                    }
               </td>    
            }
            
        </tr>
    </ng-template>
</p-table>

